<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>42131FE3-AEE9-424C-A05A-80312DF8B567</key>
		<dict>
			<key>BinderUUID</key>
			<string>42131FE3-AEE9-424C-A05A-80312DF8B567</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>MediaSettings</key>
			<dict>
				<key>ImageFlippedHorizontally</key>
				<false/>
				<key>ImageFlippedVertically</key>
				<false/>
				<key>ImageRotation</key>
				<integer>0</integer>
				<key>ImageScaleFactor</key>
				<real>1</real>
				<key>ImageScalesProportionally</key>
				<false/>
			</dict>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>WindowFrame</key>
			<string>1042 683 475 528 0 0 2560 1415 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 920}}</string>
		<string>{{266, 0}, {1327, 920}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02FD892F-633A-4DD3-8E5A-8ED2025C0751</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0991FD7C-34A8-4919-B992-B2CB5D4A9F08</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0B622ABC-795D-4B7F-9D43-989E6669414C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0DD5D09C-CC80-4D4E-900E-DE4E068B5416</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E09995E-D3B8-4A4A-96B6-A87D47F9BC45</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0E4081FC-3385-4185-B252-0D08B5851AE5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11819E1F-2C80-49E9-A578-EC14CFADAA23</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>126E651B-6A8F-4612-AE41-EC899D5B35F8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1491184B-5AAC-4940-B437-0B9EE0FBF2D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>171C78EF-A92A-4AA0-8FC4-4BA8AFFB7BA5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1F121B15-3B00-478C-B6F8-D47CECB3E605</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>20ABA4E3-6733-4B46-AA0B-827541965E60</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>22972718-14BE-4A2D-B2C2-538B1DCE9577</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41C26168-77D0-49DB-9595-3B8499F465A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>41F26255-3EBB-4232-9310-D3FF134065D7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42131FE3-AEE9-424C-A05A-80312DF8B567</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>430C3C13-1A89-47FD-A233-5F1F5045B74A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>44A9C8AC-F811-482E-915A-6952FD7C3A89</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4605C426-CAEC-4964-8446-AAB191344C14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>47D3250C-1D25-4824-9043-04A62A50285D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4A8AAFD6-C00B-4E76-B24F-84B5E1CF085F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51059E28-AF3E-4C30-9978-FACF1B618CFC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55F2BDAF-1F0A-483E-B8FE-C7724E92304F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>56955C43-2414-4E32-B90C-6003859CB2DA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>575820EA-367C-4EDA-AE5F-4D954D87E7C9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>584094D1-CAA4-40BF-8BD7-A029AC04BDA2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5A329D8A-34A7-4727-9301-087264B255A8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5DA100E7-8F65-478F-9A66-619FD80B0EFA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5F0773A1-512D-41C9-96A7-EFB932171BB7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6828DC32-4430-4B48-AA7E-7C6A989DFC4E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6881A5F6-8D61-44A5-BB7C-DBEBBF263807</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6AC33295-7C84-4EA2-980C-F848301CDEDF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>718FCB9E-0563-417A-A029-BED9F126CE96</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>75E6FC22-CC82-466E-B24C-F95838E48186</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7769928F-CED4-436D-BAEC-DECC1D2A44E3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7919A47B-DC88-4BD8-9A98-7EB1EB990EC8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7963D809-AB14-48D5-A508-B7AE7CAE6FDD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7B2ADE24-7B63-4333-B34B-C80336853418</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7D6F353A-29A0-4821-B4CD-26F6B67307B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7F784CEF-58D2-4339-98A9-C9C0AFA2C9A6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>829B8145-5DC6-4D58-ADB2-280C1F76E603</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>898A1CC5-E214-4B41-83BD-A820C06EC8CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8A6F95BC-9A51-4153-AD0D-F101460C8396</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8C9B0BAB-4ED0-4116-A2C6-30FC4220E4B5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8D45907B-D08D-4F7A-BD98-79451ADAF0ED</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>8F0809C6-46A6-4FF7-95F1-C6409E666285</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>92369BAF-91E2-4E31-B1BB-A0ABDF65D76F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>936BDB83-99EC-43AB-A2A3-50046B46E459</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>946F4A1F-DED2-4BD0-8D5F-4234FBDF54D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>958BC615-6BBD-4A77-B68C-9EBA33DE7FF2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>98C48D9A-A329-4386-A6A9-55F9BF7F8286</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A2F2531-60D2-4712-ABCB-D372B6F671DC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A333063-09D9-4753-90D8-70E90A6257CA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9A52F868-2806-474B-B851-9D13B34C848D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A510EE2A-72D6-4025-B3D3-B32710FB1A69</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A534A9AC-D29F-43EE-8B05-89644CEB2277</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A6C515B9-F596-4A60-89C1-EA4BB55FA742</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AA12C20B-84C3-4F9B-89B5-9979A19FDE3B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AEAF4470-D701-477B-982B-F68E9C85DDB3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AFAFD74B-179E-4F00-8B0D-62E371730505</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5498B91-B57C-48F3-AACD-DA33F32DBD8B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B9888591-F516-455B-B33B-E400118986EC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BBACFA14-E927-4320-9557-ADA4A3067945</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BF4DF9D8-09A5-466D-9160-352EE1FB14E0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C46CAF7A-44C0-45A1-A795-D5F30AEA582C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D2E09CCC-3F9A-429E-A91C-16A3CE1A97BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D337B930-6E99-4B76-9500-BA19164839D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D3733BE3-5895-45EF-A82C-F44818B6A77B</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D95032FE-C87A-4A16-A653-A0D4FF2F49D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DB06B8DE-B0E3-4088-BD0F-B8EBCADF3C34</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DCC501E1-5EB8-4A9F-A32E-BAE36D4493E4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DE289DC3-C74B-45F5-825F-C7DC055A0F70</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E1807B51-8E8A-4077-BD90-5B3108509793</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E205DA4D-960F-4429-A31A-DCF23DA3A7CC</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E598E78C-26D8-4108-8828-8BEE83B168CD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EB7CFEE7-F428-43FA-A378-02CD3CED89A7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EBBC99C7-5060-4564-8324-315368A1C83E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EC0EB40B-B75B-476D-89B8-4F4F4E44881F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EEC5B29B-4E57-4508-9C19-FE388FBF462A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F11A73D0-DDBF-4931-9B19-215CEC6B3504</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F6C258C0-E9E5-463F-980C-17BA5A453BE2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FA650D5B-136F-4091-8641-BDF0F22DA9D1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {512, 910}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 258}, {620, 417}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>2</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>967 387 1593 948 0 0 2560 1415 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
